<template>
    <span>
        <p>Contact Us</p>
        <label for="defaultFormContactNameEx">Your name </label>
        <input type="text" id="defaultFormContactNameEx" v-model="name" ref="name">
        <br>
        <label for="defaultFormContactEmailEx">Your email </label>
        <input type="email" id="defaultFormContactEmailEx" v-model="email" ref="email">
        <br>
        <label for="defaultFormContactMessageEx">Your message </label>
        <textarea type="text" id="defaultFormContactMessageEx" rows="3" v-model="message" ref="message"></textarea>
        <br>
        <button type="submit" @click="recaptcha">Send</button>
    </span>

    
</template>	



<script>
  import axios from 'axios';
  import { VueReCaptcha } from 'vue-recaptcha-v3'
  
  import Vue from 'vue'

  Vue.use(VueReCaptcha, { siteKey: 'xxxxxxxxxxxxxxxxxxxxxxxxx' })

  export default {
    name: 'Contact',
    data: function () {
      return {
		name: "",
		email: "",
        message: "",
    }
	},
	methods : {
		sendForm(token) {
			if (token == "") {
				alert("Captcha Failed, please try again")
				return
			}

			let formData = new FormData();

			if (this.name == "") {
				this.$refs.name.focus();
				alert("Please provide your name");
				return;
			}

			if (this.email == "") {
				this.$refs.email.focus();
				alert("Please provide your email");
				return;
			}

			if (this.message == "") {
				this.$refs.message.focus();
				alert("Please provide a message");
				return;
			}

			formData.append("name", this.name);
			formData.append("email", this.email);
			formData.append("message", this.message);

			const headers = {
				"Content-Type": "multipart/form-data",
				"X-Recaptcha-Token": token
			};

			let host = document.location.hostname;
			let endpoint = "http://" + host + "/myendpoint"
			// let endpoint = "http://" + host + ":5000/myendpoint"

			axios({
				method: "post", 
				url : endpoint,
				data: formData,
				headers: headers
			}
			).then(() => {
				this.name = "";
				this.email = "";
				this.message = "";
				alert("Thank you for your message");
			})
			.catch((error) => {

				if (!error.response) {
					alert("Cannot connect to endpoint")
                    console.error(error)
				} else {
					// http status code
					const code = error.response.status
					// response data
					const response = error.response.data
					if (code == 412) {
						console.error(error.response.data);
						let err = "Error submitting form - " + error.response.data
						alert(err);
					} else {
						console.log(error)
						alert("Error submitting form")
					}
				}
			});
		},
		async recaptcha() {
			// (optional) Wait until recaptcha has been loaded.
			await this.$recaptchaLoaded()

			// Execute reCAPTCHA with action "login".
			const token = await this.$recaptcha('login')

			if (token != "") {
				// Do stuff with the received token.
				this.sendForm(token)
			} else {
				alert("Captcha Failed, please try again")
                console.log("Token not legit")
			}

  	  	}

	}
  }
</script>